:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header h1 {
  font-weight: 500;
  font-size: 48px;
  font-family: "Rubik Glitch Pop", system-ui;
}
h1,
h2 {
  margin-top: 0;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
section p {
  margin-top: 20px;
  margin-bottom: 20px;
}
a {
  font-weight: 700;
}
a:hover,
a:focus {
  color: white;
  background-color: #32cd32;
}
.button {
  background-color: #ffe000;
  color: #000;
  padding: 7px;
  border-radius: 4px;
}
header,
section {
  padding: 50px;
}
header {
  background-color: #ffe600;
}

.section-one {
  background-color: black;
  color: white;
}
.section-one {
  background-color: black;
  color: #f1f1f1;
}
.section-one a {
  color: #ff8000;
}
.section-two a {
  color: #ffd700;
}
.section-one .btn,
.section-two .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: blueviolet;
  margin-right: 15px;
  border-radius: 4px;
}
.section-one .btn:hover,
.section-two .btn:hover {
  color: white;
  background-color: #32cd32;
}
.section-one h2,
.section-two h2 {
  font-weight: 700;
}
