:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
P > a {
  text-decoration: underline;
  color: #ff8000;
  font-weight: 700;
}
a:hover,
a:focus {
  color: #32cd32;
}
.button{
background-color: #ffe000;
color: #000;
padding: 7px;
border-radius: 4px;
}